*
{
    margin: 0;
}

.nav-bar
{
    max-width: 700px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 20px;
    border-bottom: 3px dotted rgba(216, 112, 147, 0.2);
}

.nav-bar > a
{
    font-size: 24px;
    font-style: italic;
    color: rgb(80, 200, 200);
    text-decoration: none;
    margin-right: 20px;
}

.nav-feat > a
{
    font-size: 17px;
    color: rgb(128, 128, 128);
    text-decoration: none;
    margin-left: 20px;
}

.nav-feat
{
    margin-right: auto;
}

.nav-bar > a:hover
{
    color: rgba(216, 112, 147, 0.6);
}

.nav-feat > a:hover
{
    color: rgb(80, 200, 200);
}

.container
{
    max-width: 680px;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
}

.sub-header
{
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-family:monospace;
    color: rgba(216, 112, 147, 0.8);
    margin-bottom: 15px;
}

.cont-article
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 25px;
}

.cont-article a
{
    text-decoration: none;
}

.cont-article > a > h3
{
    font-size: 21px;
    color: rgb(70, 167, 167);
    padding: 10px 0px;
}

.cont-article p
{
    font-size: 16px;
    color: black;
}

.cont-article:hover
{
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.1);
    text-shadow: 1px 3px 5px rgb(0, 0, 0, 0.15);
}

.pic
{
    text-align: center;
    margin-bottom: 30px;
}

.article > h1
{
    font-size: 30px;
    margin-bottom: 10px;
}

.container > .article > p
{
    font-size: 15px;
    color: rgb(10, 150, 150);
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}

.content > p, .content li
{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h2
{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 12px 0px;
}

.content h3
{
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 8px;
}

.ask-expert
{
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

.ask-expert > h2
{
    font-size: 24px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(77, 77, 77);
}

.ask-expert label
{
    display: block;
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 22px;
    margin-bottom: 5px;
}

.ask-expert p
{
    display: inline;
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 62px;
}

.ask-expert textarea
{
    width: 100%
}

.ask-expert button
{
    cursor: pointer;
    margin-top: 50px;
    margin-left: 86%;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: rgb(80, 200, 200);
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
}

.ask-expert button:hover
{
    background-color: rgb(71, 175, 175);
}

.about
{
    max-width: 650px;
    align-items: center;
    text-align: justify;
    margin: 0 auto;
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.desc > h3, .desc > h4
{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.55);
}

.about-us > h2
{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(28, 182, 182, 0.45);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.desc > p, .desc > p, .about-us > p
{
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-container
{
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
}

.footer-copyright
{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 150px;
    margin-bottom: 40px;
    border-top:  3px dotted rgba(216, 112, 147, 0.2);
    padding-top: 15px;
    color:rgb(10, 150, 150);
}